---
import { ClientRouter } from 'astro:transitions';
import '../styles/global.css';
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>kvibeshopcl | K-Pop & Skincare</title>
		<ClientRouter />
    </head>
    <body class="bg-white min-h-screen">
        <slot />
    </body>
</html>

<style is:global>
    :root {
        --brand-purple: #2D0046; /* Púrpura oscuro elegante */
    }
    html {
        font-family: 'Poppins', system-ui, sans-serif;
        background-color: #FFFFFF;
        color: var(--brand-purple);
    }
</style>